#include "wx/msw/wx.rc"

ID_VIDEO_8_UC3 BITMAP "bitmaps/camera.bmp"
ID_VIDEO_32_FC3 BITMAP "bitmaps/camerafloat.bmp"
wxID_OPEN BITMAP "bitmaps/open.bmp"
wxID_SAVE BITMAP "bitmaps/save.bmp"
copy BITMAP "bitmaps/copy.bmp"
cut BITMAP "bitmaps/cut.bmp"
paste BITMAP "bitmaps/paste.bmp"
print BITMAP "bitmaps/print.bmp"
help BITMAP "bitmaps/help.bmp"
ID_ADDITION BITMAP "bitmaps/addition.bmp"
ID_SOUSTRACTION BITMAP "bitmaps/soustraction.bmp"
ID_MULTIPLICATION BITMAP "bitmaps/multiplication.bmp"
ID_DIVISION BITMAP "bitmaps/division.bmp"
ID_ET_LOGIQUE BITMAP "bitmaps/etlogique.bmp"
ID_OU_LOGIQUE BITMAP "bitmaps/oulogique.bmp"
ID_OUEXCLU_LOGIQUE BITMAP "bitmaps/division.bmp"
ID_NEGATION BITMAP "bitmaps/nonlogique.bmp"
ID_DILATATION BITMAP "bitmaps/dilatation.bmp"
ID_EROSION BITMAP "bitmaps/erosion.bmp"
ID_OUVERTURE BITMAP "bitmaps/ouverture.bmp"
ID_FERMETURE BITMAP "bitmaps/fermeture.bmp"
ID_CHAPHAUTNO BITMAP "bitmaps/chaphautnoir.bmp"
ID_CHAPHAUTBL BITMAP "bitmaps/chaphautblanc.bmp"
ID_GRADMORPH BITMAP "bitmaps/gradmorph.bmp"
ID_CANNY BITMAP "bitmaps/canny.bmp"
ID_CONTOUR BITMAP "bitmaps/contour.bmp"
ID_COMPCONNEXE BITMAP "bitmaps/cmpconnexe.bmp"
ID_PARTAGE_EAUX BITMAP "bitmaps/statconnexe.bmp"
ID_FFT BITMAP "bitmaps/fft.bmp"
ID_IFFT BITMAP "bitmaps/ifft.bmp"
flou BITMAP "bitmaps/flou.bmp"
ID_LISMED BITMAP "bitmaps/LisMed.bmp"
ID_LISGAU BITMAP "bitmaps/LisGau.bmp"
ID_LISMOY BITMAP "bitmaps/LisMoy.bmp"
ID_THRESHOLD BITMAP "bitmaps/seuillage.bmp"
ID_ADATHRESHOLD BITMAP "bitmaps/seuillageada.bmp"
ID_DISTANCEDISCRETE BITMAP "bitmaps/distancediscrete.bmp"
ID_SQUELETTE BITMAP "bitmaps/squelette.bmp"
ID_VORONOI BITMAP "bitmaps/voronoi.bmp"
ID_GRADIENT_MOD BITMAP "bitmaps/gradient_mod.bmp"
ID_GRADIENT_X BITMAP "bitmaps/gradient_x.bmp"
ID_GRADIENT_Y BITMAP "bitmaps/gradient_y.bmp"
ID_LAPLACIEN BITMAP "bitmaps/laplacien.bmp"
ID_CONVOLUTION BITMAP "bitmaps/convolution.bmp"
ID_SEPARATIONPLAN BITMAP "bitmaps/separationplan.bmp"
ID_FUSIONPLAN BITMAP "bitmaps/fusionplan.bmp"
ID_RGBLUMINANCE BITMAP "bitmaps/rgbluminance.bmp"
ID_CORNERHARRIS BITMAP "bitmaps/cornerharris.bmp"
ID_GOODFEATURE BITMAP "bitmaps/goodfeature.bmp"
ID_HOUGHCIRCLE BITMAP "bitmaps/houghcircle.bmp"
ID_HOUGHLINE BITMAP "bitmaps/houghline.bmp"
ID_HOUGHLINEP BITMAP "bitmaps/houghlinep.bmp"
ID_CALCFLOTOPTIQUE BITMAP "bitmaps/calcflotoptique.bmp"
ID_CALCFLOTOPTIQUEFARNER BITMAP "bitmaps/calcflotoptiquefarner.bmp"
ID_ESTIM_TRANS BITMAP "bitmaps/estimtansfo.bmp"
ID_MAJ_MVT BITMAP "bitmaps/majmvt.bmp"
ID_PYRFLOTOPTIQUE BITMAP "bitmaps/pyrflotoptique.bmp"
ID_PHASE_CORRELATE BITMAP "bitmaps/phasecorrel.bmp"
