#include "wx/msw/wx.rc"

new BITMAP "bitmaps/new.bmp"
open BITMAP "bitmaps/open.bmp"
save BITMAP "bitmaps/save.bmp"
copy BITMAP "bitmaps/copy.bmp"
cut BITMAP "bitmaps/cut.bmp"
paste BITMAP "bitmaps/paste.bmp"
print BITMAP "bitmaps/print.bmp"
help BITMAP "bitmaps/help.bmp"
addition BITMAP "bitmaps/addition.bmp"
soustraction BITMAP "bitmaps/soustraction.bmp"
multiplication BITMAP "bitmaps/multiplication.bmp"
division BITMAP "bitmaps/division.bmp"
dilatation BITMAP "bitmaps/dilatation.bmp"
erosion BITMAP "bitmaps/erosion.bmp"
ouverture BITMAP "bitmaps/ouverture.bmp"
fermeture BITMAP "bitmaps/fermeture.bmp"
chaphautnoir BITMAP "bitmaps/chaphautnoir.bmp"
chaphautblanc BITMAP "bitmaps/chaphautblanc.bmp"
gradmorph BITMAP "bitmaps/gradmorph.bmp"
canny BITMAP "bitmaps/canny.bmp"
contour BITMAP "bitmaps/contour.bmp"
cmpconnexe BITMAP "bitmaps/cmpconnexe.bmp"
statconnexe BITMAP "bitmaps/statconnexe.bmp"
fft BITMAP "bitmaps/fft.bmp"
ifft BITMAP "bitmaps/ifft.bmp"
flou BITMAP "bitmaps/flou.bmp"
LisMed BITMAP "bitmaps/LisMed.bmp"
LisGau BITMAP "bitmaps/LisGau.bmp"
LisMoy BITMAP "bitmaps/LisMoy.bmp"
seuillage BITMAP "bitmaps/seuillage.bmp"
seuillageada BITMAP "bitmaps/seuillageada.bmp"
gradient_mod BITMAP "bitmaps/gradient_mod.bmp"
gradient_x BITMAP "bitmaps/gradient_x.bmp"
gradient_y BITMAP "bitmaps/gradient_y.bmp"
laplacien BITMAP "bitmaps/laplacien.bmp"
convolution BITMAP "bitmaps/convolution.bmp"
separationplan BITMAP "bitmaps/separationplan.bmp"
fusionplan BITMAP "bitmaps/fusionplan.bmp"
